$corner: .5rem;
$header_color: rgb(194, 164, 107);

body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	h1 {
		color: rgb(209, 168, 85);
	}

	nav {
		background-color: #222;
		padding: .5rem;

		a {
			color: #aaa;
			text-decoration: none;
			margin-right: 1rem;
		}

		a.active {
			color: rgb(211, 211, 110);
		}
	}

	.page {

		.flashcard {
			margin-top: 1rem;
			max-width: 35rem;

			.front {
				background-color: #222;
				border-radius: $corner $corner 0 0;
				padding: 1rem;
				user-select: none;
				cursor: pointer;
			}
			.back {
				background-color: #111;
				border-radius: 0 0 $corner $corner;
				padding: 1rem;
				color: rgb(228, 228, 128);
				p {
					margin: 0;
					code {
						background: #000;
						padding: 0 .5rem;
						color: orange;
					}
				}
			}
		}
	}

	.pageByCategory {
		select {
			margin-top: 1rem;
			font-size: 1.3rem;
		}
	}

}